.mat-mdc-dialog-container {
  border-radius: 5%;
}

a {
  color: #06285D;
  font-weight: 600;
  font-size: large;
}
.mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}