.mat-mdc-dialog-container {
  border-radius: 5%;
}

a {
  color: #06285D;
  font-weight: 600;
  font-size: large;
}
.mat-toolbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 16px;
}

.logo {
  flex: 0 0 auto; 
}

.items {
  flex: 1; 
  display: flex;
  justify-content: center; 
}

button {
  margin: 0 8px;
  color: #06285D !important;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  justify-content: center;
  color: #06285D;
  height: 56px; 
  font-size: 14px;
}

@media (max-width: 600px) {
  .footer {
    height: 48px;
  }
}