/* 



 */
/* .mat-mdc-dialog-surface {
  border-radius: 5%;
} */
/* mat-dialog-container {
  border-radius: 5%;
} */
/* .mdc-dialog__surface {
  border-radius: 5%;
} */

.mat-mdc-dialog-container {
  border-radius: 5%;
}