h2, h3 {
    text-align: center;
    font-weight: bold;
  }

  ul {
    background-color: #F8F9FA;
    padding: 5%;
    border-radius: 1rem;
}
  
  .ingredients,
  .instructions {
    background-color: #fafafa;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 10%;
  }
  
  .details {
    padding: 5%;
  }

button {
background-color: #F8F9FA;

}
