mat-card-header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  background-color: #fafafa;
}

mat-card-actions {
  text-align: end;
}

h3 {
  text-align: center;
  font-weight: bold;
  padding: 3%;
}

.details {
  background-color: #fafafa;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: auto;
}






