/* Ensure mat-form-field takes full width and has a consistent appearance */
.mat-card-first {
    width: fit-content;
    margin: 5% auto;
    color: #06285D;
    background-color: #fafafa;
}

.mat-card-second {
    width: 100%;
}
.editmode {
    width: 800px;
}
mat-card-header {
    justify-content: space-between;
}

mat-form-field {
    width: 80%; /* Full width */
   
  }
  
  /* Target the inner wrapper of the mat-form-field to remove unwanted padding */
  mat-form-field .mat-form-field-wrapper {
    padding-bottom: 0 !important; /* Remove extra bottom padding */
  }
  
  /* Control the flexbox container within the mat-form-field */
  mat-form-field .mat-form-field-flex {
    height: auto; /* Allow height to adjust */
  }
  
  /* Set specific height and padding for the input container */
  mat-form-field .mat-form-field-infix {
    padding: 0 8px; /* Horizontal padding, zero vertical padding */
    min-height: 48px; /* Minimum height for input container */
    display: flex;
    align-items: center; /* Center content vertically */
  }
  
  .mat-mdc-form-fiels-subscript-wrapper {
    height: 0;
  }
  mat-card-actions {
    justify-content: space-evenly;
  }

  /* mat-list-item {
    border: 1px dotted;
    border-radius: 20px;
    border-color: var(--mat-divider-color);
    width: fit-content;
    margin-bottom: 5px;
    background-color: white;
  } */

.no-edit-item {
  border: 1px dotted;
  border-radius: 20px;
  border-color: var(--mat-divider-color);
  width: fit-content;
  margin-bottom: 5px;
  background-color: white;
}
  h3 {
    text-align: center;
    font-weight: bold;
    margin: 3%;
  }
  /* Apply height settings directly to input elements */
  .mat-input-element {
    height: auto; /* Auto height allows natural adjustment */
    min-height: 36px; /* Minimum height for input fields */
    padding: 8px; /* Padding inside the input for better text visibility */
    box-sizing: border-box; /* Include padding and borders in total element size */
    font-size: 16px; /* Adjust font size if needed */
    line-height: 1.5; /* Adjust line height for better text readability */
  }
  
  /* Flex settings for list items to ensure alignment and spacing */
 


   .editableItems {
 min-height: 85px;
    width: 60%;
    text-align: center;
    margin:auto
   }
  


  /* Space between the input and button */
  button.mat-icon-button {
    margin-left: 8px; 
  }

  .edit-button, .save-button, .button-color {
    background-color: rgb(237 182 84) !important;
        color: #06285D !important;
      }
  

.cancel-button {
    background-color: #06285D !important;
    color: rgb(237 182 84) !important;
}

.save-cancel-btns {
  margin-top: 5%;
}
 
  @media (max-width: 768px) {
    .editmode {
        width: 500px
    }
    .mat-card-first {
        width: 550px;
    }
  }
  
  @media (max-width: 480px) {
    .editmode {
        width: 400px;
    }
    .mat-card-first {
        width: 400px;
    }
  }
  