 <div class="recipes-container">
  <mat-card *ngFor="let recipe of recipes" class="recipe-card">
    <mat-card-header>
      <mat-card-title>{{ recipe.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="'../../assets/' + recipe.image" alt="{{ recipe.name }}">
    <div class="container">
      <div class="row">
        <app-recipe-detail [recipeId]="recipe.id" class="btns btn-left"></app-recipe-detail>
        <button mat-button (click)="deleteRecipe(recipe.id)" class="btns btn-right">Delete Recipe</button>
      </div>
    </div>
  </mat-card>
</div> 


