<div class="home-container">
    <h1>Welcome to the Recipe Book</h1>
    <p>Discover and manage your favorite recipes with ease!</p>
  
    <div class="home-links">
      <div class="card">
        <h2>Recipe List</h2>
        <p>View all your saved recipes in one place.</p>
        <button class="color-button" mat-raised-button  routerLink="recipe-list">Go to Recipe List</button>
    </div>
  
      <div class="card">
        <h2>Add a New Recipe</h2>
        <p>Create a new recipe with detailed ingredients and instructions.</p>
        <button mat-raised-button routerLink="add-recipe">Add Recipe</button>
      </div>
    </div>
  </div>
