<mat-card>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <mat-card-title>Add New Recipe</mat-card-title>
    <mat-card-content>
      <h2>Recipe Name</h2>
      <mat-form-field appearance="outline">
        <mat-label>Recipe Name</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>
      <mat-error
        *ngIf="
          recipeForm.get('name')?.invalid && recipeForm.get('name')?.touched
        "
      >
        Recipe name is required.
      </mat-error>

      <div formArrayName="ingredients">
        <h2>Ingredients</h2>
        <button
          mat-raised-button
          class="button-color"
          (click)="addIngredient()"
          type="button"
        >
          Add Ingredient
        </button>

        <mat-list-item
          *ngFor="let ingredient of ingredients.controls; let i = index"
          class="editableItems"
        >
          <mat-form-field appearance="outline">
            <mat-label>{{ i + 1 }} Ingredient </mat-label>
            <input matInput [formControlName]="i" required />
          </mat-form-field>
          <button
            mat-icon-button
            color="warn"
            class="bin"
            (click)="removeIngredient(i)"
            type="button"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </div>

      <div formArrayName="instructions">
        <h2>Instructions</h2>
        <button
          mat-raised-button
          class="button-color"
          (click)="addInstruction()"
          type="button"
        >
          Add Instruction
        </button>
        <mat-list-item
          *ngFor="let instruction of instructions.controls; let j = index"
        >
          <mat-form-field appearance="outline">
            <mat-label>{{ j + 1 }} Line of Instruction </mat-label>
            <textarea matInput [formControlName]="j" required></textarea>
          </mat-form-field>
          <button
            mat-icon-button
            color="warn"
            class="bin"
            (click)="removeInstruction(j)"
            type="button"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </div>

      <div formArrayName="images">
        <h2>Image</h2>
        <button
          mat-raised-button
          class="button-color"
          (click)="uploader.open({ onUpdate: onComplete })"
        >
          Upload Image
        </button>
        <mat-list-item *ngFor="let image of images.controls; let l = index">
          <mat-form-field appearance="outline">
            <mat-label>Image {{ l + 1 }}</mat-label>
            <input
              matInput
              [formControlName]="l"
              required
              readonly="readonly"
            />
          </mat-form-field>
          <button
            mat-icon-button
            color="warn"
            (click)="removeImage(l)"
            type="button"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </div>

      <button mat-raised-button class="add-recipe-button" type="submit">
        Add Recipe
      </button>
    </mat-card-content>
  </form>
</mat-card>
<mat-card *ngIf="lastAddedRecipe">
  <mat-card-title>{{ lastAddedRecipe.name }}</mat-card-title>
  <mat-card-content class="last-recipe">
    <h2>Ingredients:</h2>
    <ul>
      <li *ngFor="let ingredient of lastAddedRecipe.ingredients">
        {{ ingredient }}
      </li>
    </ul>

    <h2>Instructions:</h2>
    <ol>
      <li *ngFor="let instruction of lastAddedRecipe.instructions">
        {{ instruction }}
      </li>
    </ol>

    <div *ngFor="let image of lastAddedRecipe.images">
      <img [src]="image" alt="Recipe Image" class="uploaded-image" />
    </div>

    <div *ngFor="let image of images.controls; let k = index">
      <img [src]="image.value" alt="Recipe Image" class="uploaded-image" />
      <button
        mat-icon-button
        color="warn"
        (click)="removeImage(k)"
        type="button"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
