/* Ensure that the mat-label is always visible */
.mat-form-field-appearance-fill .mat-form-field-label-wrapper {
    top: 0;
    transform: translateY(0.5em) scale(0.75); /* Adjust translateY and scale values as necessary */
  }
  
  .mat-form-field-label {
    transition: none; /* Disable transition for immediate visibility */
  }

  mat-card {
    align-items: center;
    padding: 5%;
    border-radius: 1rem;
    border: 1px solid black;
    width: 40%;
    margin: 5% auto;
    background-color: #F8F9FA;
  }

  /* button { 
    margin: 5% 0;
  } */

 mat-form-field {
  flex-direction: row;
    background-color: white;
  }

  h2 { margin:0}

  .form-section {
    margin: 1.5rem 0;
  }

  mat-card-title {
    padding-bottom: 10%;
  }

  .uploaded-image {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin: 5px 0;
  }