
mat-card {
  align-items: center;
  padding: 2%;
  border-radius: 1rem;
  border: 1px solid black;
  background-color: #f8f9fa;
  margin: 5% auto;
  width: 60%;
}

mat-form-field {
  flex-direction: row;
  background-color: white;
  margin-bottom: 5%;
}
mat-card-title {
  padding-bottom: 10%;
}

h2 {
  margin: 0;
}

li {
  width: calc(100% - 20px);
  word-wrap: break-word;
}

h2, li, mat-card-title  {
  /* color: #06285D !important; */
  color: #06285D;
}
.button-color {
  /* background-color: #00D395 !important; */
  background-color: rgb(237 182 84) !important;

}

.mat-form-field-appearance-fill .mat-form-field-label-wrapper {
  top: 0;
  transform: translateY(0.5em) scale(0.75);
}

.mat-form-field-label {
  transition: none;
}

.form-section {
  margin: 1.5rem 0;
}

.uploaded-image {
  width: 80%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

button {
  margin-bottom: 5%;
}

p {
  text-align: center;
}

.last-recipe {
  width: inherit;
}

.add-recipe-button {
  background-color:  #06285D !important;
  color: rgb(237 182 84) !important;
}

@media (max-width: 576px) {
  mat-card {
    max-width: 100%;
    padding: 5%;
  }

  .uploaded-image {
    width: 100%;
    margin: 10px 0;
  }

  mat-form-field {
    margin-bottom: 8%;
  }

  button {
    margin-bottom: 10%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  mat-card {
    max-width: 90%;
    padding: 4%;
  }

  .uploaded-image {
    width: 90%;
    margin: 8px 0;
  }

  mat-form-field {
    margin-bottom: 6%;
  }

  button {
    margin-bottom: 8%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  mat-card {
    max-width: 80%;
    padding: 3%;
  }

  .uploaded-image {
    width: 80%;
    margin: 6px 0;
  }

  mat-form-field {
    margin-bottom: 5%;
  }

  button {
    margin-bottom: 6%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  mat-card {
    max-width: 50%;
    padding: 2%;
  }

  .uploaded-image {
    width: 70%;
    margin: 5px 0;
  }

  mat-form-field {
    margin-bottom: 4%;
  }

  button {
    margin-bottom: 5%;
  }
}

@media (min-width: 1441px) {
  mat-card {
    max-width: 30%;
    padding: 2%;
  }

  .uploaded-image {
    width: 60%;
    margin: 4px 0;
  }

  mat-form-field {
    margin-bottom: 3%;
  }

  button {
    margin-bottom: 4%;
  }
}

